<nav>
    <div class="nav-wrapper green darken-1">
        <a href="#" class="brand-logo">Mes courses</a>
        <ul id="nav-course" class="right hide-on-med-and-down">
            <li><a onclick="indexController.newList()">Nouvelle Liste</a></li>
            <li><a onclick="navigate('historique')">Historique</a></li>
        </ul>
    </div>
</nav>

<!--<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Mes courses</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-course" class="right hide-on-med-and-down">
            <li><a onclick="indexController.newList()">Nouvelle Liste</a></li>
            <li><a onclick="navigate('historique')">Historique</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a onclick="indexController.newList()">Nouvelle Liste</a></li>
    <li><a onclick="navigate('historique')">Historique</a></li>
</ul>-->

<div class="container">
    <div class="row">
        <div class="col s1">
            <div class="row">
                <a class="btn-floating" style="margin-top: 45px;" onclick="indexController.reloadTime()"><i class="material-icons">loop</i></a></td>
            </div>
        </div>
        <div class="col s11">
            <div class="row">
                <h2 id="titleIndex"></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s5">
                    <input id="fieldArticleName" type="text" class="validate">
                    <label for="fieldArticleName">Article</label>
                </div>
                <div class="input-field col s5">
                    <input id="fieldArticleQte" type="number" class="validate">
                    <label for="fieldArticleQte">Quantite</label>
                </div>
                <div class="input-field col s2">
                    <a id="btn_addArticle" class="btn waves-effect waves-light" onclick="indexController.addArticle()">Ajouter
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <table class="highlight">
        <thead>
            <tr>
                <th>Pris</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="articlesTable">
        </tbody>
    </table>
</div>